{% extends "base.html" %}

{% block title %}Login to Admin{% endblock %}

{% block content %}
    <h1>Login to Admin</h1>
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}